<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poly.toba.mapper.UserMapper">
	<!-- 회원가입 -->
	<insert id="regUser" parameterType="UserDTO">
		INSERT INTO user (
			userEmail,
			userPassword,
			userNickName,
			userName,
			userRegDate,
			enabled
		) VALUES (
			#{userEmail},
			#{userPassword},
			#{userNickName},
			#{userName},
			NOW(),
			0
		)
	</insert>
	<!-- 중복확인 -->
	<select id="getUserEmailCheck" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM user
		WHERE userEmail=#{userEmail}
	</select>
	<select id="getUserNickCheck" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM user
		WHERE userNickName=#{userNick}
	</select>
	<!-- 인증키 발급 -->
	<insert id="regKey" parameterType="EmailDTO">
		INSERT INTO email_confirm (
			emailKey,
			userEmail,
			userRegDate,
			expiredDate
		) VALUES (
			#{emailKey},
			#{userEmail},
			NOW(),
			DATE_ADD(NOW(), INTERVAL 1 SECOND)
		)
	</insert>
	<select id="getEmailKey" parameterType="string" resultType="int">
		SELECT COUNT(*)
		FROM email_confirm
		WHERE emailKey=#{emailKey}
	</select>
	<update id="changeStatus" parameterType="EmailDTO">
	UPDATE user u INNER JOIN email_confirm e
	ON u.userEmail = e.userEmail
	SET u.enabled = 1
	WHERE e.emailKey = #{emailKey};
	</update>
	<!-- Login -->
	<select id="getUserLogin" parameterType="UserDTO" resultType="UserDTO">
	SELECT
		userNo AS userNo,
		userEmail AS userEmail,
		userNickName AS userNickName,
		userName AS userName,
		userRegDate AS userRegDate,
		userProfilePath AS userProfilePath,
		enabled AS enabled,
		authority AS authority 
	FROM user
	WHERE userEmail=#{userEmail} AND userPassword=#{userPassword} AND enabled=1
	</select>
	<!-- 비밀번호 변경 -->
	<update id="updatePassword" parameterType="UserDTO">
	UPDATE user
	SET userPassword=#{userPassword}
	WHERE userEmail=#{userEmail} AND enabled=1
	</update>
	<update id="changeNick" parameterType="UserDTO">
	update user
	set userNickName=#{userNickName}
	where userNo=#{userNo}
	</update>
	<update id="profileUpd" parameterType="UserDTO">
	update user
	set userProfilePath = #{userProfilePath}
	where userNo=#{userNo}
	</update>
</mapper>

